<header class="header">
  <div class="header-inner container">
    <div class="header-logo">
      <a href="/">
        <img src="/images/logo.svg" alt="" />
      </a>
    </div>
    <div class="header-search">
      <img src="/images/loop.png" alt="" />
      <input type="text" placeholder="search" />
    </div>
  </div>
</header>
