<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <div class="navigation">
      <div class="nav-inner container">
        <p>Homes > <%= navigationTitle%></p>
      </div>
    </div>
    <div class="notFound-main">
      <h1>404 Not Found</h1>
      <a href="/">Go to main page</a>
    </div>
  </body>
</html>
